:root {
    --color-accent: #2196f3;
    --color-button-hover: #188ce8;
    --color-white-background: #ffffff;
    --color-white-background-main: #e5e5e5;
    --color-white-background-people: #f5f4fa;
    --color-dark-background: #2f303a;
    --color-white-text: #ffffff;
    --color-dark-text: #212121;
    --color-gray-text: #757575;
    --color-logo: #000000;
    --color-border-logo: #ececec;
    --color-decoration-card: #eeeeee;
    --color-background-icon: #afb1b8;
    --time-cub-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}